.patient-info {
    background-color: #FDF5F5;
}

.doctors {
    background-color: #84CEEB;
}

.patient-details {
    background-color: #84CEEB;
}

.feature {
    background-color: #6B90ED;
}

.view-btn {
    background-color: #8860D0;
}