.home {
    background-image: url('../../../public/Images/home.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.btn-dashboard {
    background-color: #84CEEB;
}